.delete-node-form {
    @extend .container;
}

.node-deleted {
    @extend .jumbotron, .container;

    .summary, .actions {
        text-align: center;
    }

    .actions {
        margin-top: 30px;
    }

    .token-hint {
        font: {
            weight: bold;
            size: 32px;
        }

        text-align: center;
        margin-top: 32px;
    }

    .summary {
        @extend .well;

        display: table;

        margin: {
            left: auto;
            right: auto;
            top: 30px;
            bottom: 30px;
        }

        border: 3px dashed $gray;
        font-family: monospace;
        font-size: 32px;

        .icon {
            @extend .fa, .fa-trash;

            display: table-cell;

            padding-right: 18px;
        }

        .node {
            display: table-cell;
        }
    }

    .back-button {
        @extend .btn, .btn-lg, .btn-info;
    }
}
