.welcome {
    @extend .jumbotron, .container;

    .select-action {
        @extend .row;

        margin: {
            top: 25px;
            bottom: 25px;
        }

        .new-node, .update-node, .delete-node {
            @extend .col-md-4;

            button {
                @extend .btn, .btn-lg, .btn-block;

                text-overflow: ellipsis;
                overflow: hidden;

                padding: {
                    left: 10px;
                    right: 10px;
                };
            }
        }

        .new-node {
            button {
                @extend .btn-info;
            }
        }

        .update-node {
            button {
                @extend .btn-primary;
            }
        }

        .delete-node {
            button {
                @extend .btn-warning;
            }
        }
    }
}
