.welcome {
    @extend .jumbotron, .container;

    .select-action {
        @extend .row;

        margin: {
            top: 25px;
            bottom: 25px;
        }

        .new-node, .update-node, .delete-node {
            @extend .col-md-4;

            button {
                @extend .btn, .btn-lg, .btn-block;

                text-overflow: ellipsis;
                overflow: hidden;

                padding: {
                    left: 10px;
                    right: 10px;
                };
            }
        }

        .new-node {
            button {
                @extend .btn-info;
            }
        }

        .update-node {
            button {
                @extend .btn-primary;
            }
        }

        .delete-node {
            button {
                @extend .btn-warning;
            }
        }
    }
}

.wrapper {
    position: relative;

    padding: {
        top: 72px;
        bottom: 30px;
    }

    min-height: 100%;
    height: auto !important;
    height: 100%;
    width: 100%;

    margin: 0 auto;
}

.main {
    padding-bottom: 30px;

    a[target="_blank"]:after {
        @extend .fa;
        content: "\f08e";
        vertical-align: 0.3em;
        font-size: 0.8em;
        margin-left: 0.1em;
    }
}
