f-node-saved {
    .summary, .actions {
        text-align: center;
    }

    .actions {
        margin-top: 30px;
    }

    .token-hint {
        font: {
            weight: bold;
            size: 32px;
        }

        text-align: center;
        margin-top: 32px;
    }

    .summary {
        .token {
            @extend .well;

            border: 3px dashed $gray;
            font-family: monospace;
            font-size: 32px;
        }

        margin: {
            top: 30px;
            bottom: 30px;
        }
    }

    .back-button {
        @extend .btn, .btn-lg, .btn-info;
    }
}
