f-token-form {
    form {
        margin-bottom: 10px;
    }

    .main-error {
        @extend .alert, .alert-danger;
    }

    .token {
        @extend .form-group;
    }

    .feedback {
        @extend .help-block;
        color: $state-danger-text;
    }

    .submit {
        @extend .btn;

        margin-left: 5px;
    }

    .buttons {
        @extend .clearfix;

        button {
            @extend .pull-right;
        }
    }
}
