<footer class="footer">
    <ul class="list-inline list-unstyled">
        <li>
            ffffng ({{version}})
        </li>
        <li>
            <a href="https://github.com/freifunkhamburg/ffffng" target="_blank">
                <i class="fa fa-code" aria-hidden="true"></i> Source Code
            </a>
        </li>
        <li>
            <a href="https://github.com/freifunkhamburg/ffffng/issues" target="_blank">
                <i class="fa fa-bug" aria-hidden="true"></i> Fehler melden
            </a>
        </li>
        <li ng-if="config.legal.privacyUrl">
            <a href="{{config.legal.privacyUrl}}" target="_blank">
                Datenschutz
            </a>
        </li>
        <li ng-if="config.legal.imprintUrl">
            <a href="{{config.legal.imprintUrl}}" target="_blank">
                Impressum
            </a>
        </li>
    </ul>
</footer>
