<p>
    Du kannst die Daten Deines Knotens später selber ändern. Dazu benötigst Du das Token unten (16-stelliger Code).
</p>

<p class="token-hint">Notiere Dir bitte folgendes Token:</p>

<div class="summary">
    <span class="token">
        <i class="fa fa-pencil"></i>
        {{token}}
    </span>
</div>

<p>
    <strong>Hinweis:</strong>
    Sollte Dein Knoten länger als {{ config.monitoring.prunePeriodString }} offline sein, so wird dieser nach einer gewissen Zeit
    automatisch gelöscht. Du kannst Deinen Knoten selbstverständlich jederzeit neu anmelden, dazu notiere Dir jetzt den VPN-Schlüssel, die MAC-Adresse und die Koordinaten.
</p>

<p>
    Bei Fragen wende Dich gerne an
    <a href="mailto:{{ config.community.contactEmail }}">{{ config.community.contactEmail }}</a>.
</p>

<div class="actions">
    <button class="back-button" ng-click="goHome()"><i class="fa fa-reply"></i> Zurück zum Anfang</button>
</div>
