@import "variables";

@mixin page-breakpoint($name) {
    $breakpoint: map-get($page-breakpoints, $name);
    $lower-bound: nth($breakpoint, 1);
    $upper-bound: nth($breakpoint, 2);
    @if ($upper-bound == null) {
        @media ($lower-bound <= width) {
            @content;
        }
    }
    @else {
        @media ($lower-bound <= width < $upper-bound) {
            @content;
        }
    }
}

@mixin min-page-breakpoint($name) {
    $breakpoint: map-get($page-breakpoints, $name);
    $lower-bound: nth($breakpoint, 1);
    @media ($lower-bound <= width) {
        @content;
    }
}

@mixin max-page-breakpoint($name) {
    $breakpoint: map-get($page-breakpoints, $name);
    $upper-bound: nth($breakpoint, 2);
    @if ($upper-bound == null) {
        @error "Breakpoint #{$name} has no upper bound.";
    }
    @else {
        @media (width < $upper-bound) {
            @content;
        }
    }
}
