// Grays
$gray-darker: #333333;
$gray-dark: #444444;
$gray: #666666;
$gray-light: #d6d6d6;
$gray-lighter: #ededed;

// Colors
$color-primary: #e5287a;
$color-success: #449d44;
$color-warning: #fdbc41;
$color-danger: #c9302c;
$color-info: #009ee0;

// Page
$page-background-color: $gray-darker;
$page-text-color: $gray-lighter;

// Links
$link-color: $color-primary;
