.confirm-deletion-dialog {
    .modal-header {
        h3 {
            @extend .modal-title;
        }

        .cancel-icon {
            @extend .fa, .fa-times;

            position: relative;
            float: right;

            top: 10px;
            right: 0;

            margin-left: 15px;

            cursor: pointer;
            color: $gray;
        }
    }
    .modal-footer {
        .proceed {
            @extend .btn;

            margin-left: 5px;

            &.proceed {
                @extend .btn-primary;
            }
        }
    }
}
