.outside-of-community-dialog {
    .modal-header {
        h3 {
            @extend .modal-title;
        }

        .cancel-icon {
            @extend .fa, .fa-times;

            position: relative;
            float: right;

            top: 10px;
            right: 0;

            margin-left: 15px;

            cursor: pointer;
            color: $gray;
        }
    }
    .modal-body {
        .icon {
            @extend .fa;

            display: block;

            font-size: 100px;
            width: 120px;
            text-align: center;
            margin: 14px auto;

            color: lighten($gray, 25%);

            &.community {
                @extend .fa-users;
            }
        }
    }
    .modal-footer {
        .proceed {
            @extend .btn;

            margin-left: 5px;

            &.create {
               @extend .btn-info;
            }

            &.update {
                @extend .btn-primary;
            }
        }
    }
}
