<%= header() %>

<p>
    für einen Deiner Knoten wurde der automatisierte Versand von Status-E-Mails aktiviert. Um sicherzustellen, dass
    Du wirklich der richtige Empfänger für diese E-Mails bist, bitten wir Dich, Deine E-Mail-Adresse durch einen
    Klick auf den Bestätiguns-Link unten zu bestätigen. Erst danach wird der Versand von Status-E-Mails wirklich
    stattfinden.
</p>

<table width="100%" border="0" cellspacing="0" cellpadding="0" style="margin-top: 45px;">
    <tr>
        <td align="center">
            <table class="table" style="border: 3px dashed #666666; padding: 10px; background-color: #F5F5F5; font-size: 1.3em;">
                <tr>
                    <th>Knoten</th>
                    <td><%- node.hostname %></td>
                </tr>

                <tr>
                    <th>Empfänger</th>
                    <td><%= link('mailto:' + node.email, node.email) %></td>
                </tr>
            </table>
        </td>
    </tr>
</table>

<table width="100%" border="0" cellspacing="0" cellpadding="0" style="margin-top: 45px; margin-bottom: 45px;">
    <tr>
        <td align="center" style="font-size: 1.5em;">
            <strong>
                <%= link(confirmUrl, '» E-Mail-Adresse bestätigen «') %>
            </strong>
        </td>
    </tr>
</table>

<p></p>

<%= monitoringFooter() %>

<%= footer() %>
