<div class="confirm-monitoring" ng-switch="monitoringStatus">
    <h2 ng-switch-when="loading">Einen Moment bitte...</h2>

    <div ng-switch-when="confirmed">
        <h2>Der Versand von Status-E-Mails ist nun aktiv!</h2>

        <p>
            Deine E-Mail-Adresse konnte erfolgreich bestätigt werden. Sollte Dein Knoten nun längere Zeit offline sein,
            so wirst Du ab sofort per E-Mail darüber benachrichtigt.
        </p>

        <div class="summary">
            <i class="icon"></i>
            <dl class="node">
                <dt>Name</dt>
                <dd>{{monitoringInfo.hostname}}</dd>

                <dt>MAC</dt>
                <dd>{{monitoringInfo.mac}}</dd>

                <dt><i class="fa fa-envelope"></i></dt>
                <dd>{{monitoringInfo.email}}</dd>
            </dl>
        </div>

        <p>
            <em>
                Möchtest Du keine Status-E-Mails zu Deinem Knoten mehr erhalten, so kannst Du den Versand
                jederzeit unter <a href="javascript:" ng-click="goToUpdate()">„Knotendaten ändern“</a> abschalten.
                Gib dazu dort Dein Token ein und scrolle dann ganz nach unten. Bitte habe Verständnis dafür, dass
                das An- und Abschalten des Versands für jeden Deiner Knoten einzeln erfolgt.
            </em>
        </p>

        <p>
            Bei Fragen wende Dich gerne an
            <a href="mailto:{{ config.community.contactEmail }}">{{ config.community.contactEmail }}</a>.
        </p>

        <div class="actions">
            <button class="back-button" ng-click="goHome()"><i class="fa fa-reply"></i> Zurück zum Anfang</button>
        </div>
    </div>

    <div ng-switch-when="error">
        <h2>Die Bestätigung Deiner E-Mail-Adresse ist fehlgeschlagen</h2>

        <div class="alert alert-danger" role="alert">
            <p><strong>Dies kann mehrere Gründe haben:</strong></p>

            <ul>
                <li>Du hast zwischenzeitlich die E-Mail-Adresse für den Knoten geändert.</li>
                <li>Du hast den Link nicht vollständig aus der E-Mail kopiert.</li>
                <li>Es ist ein interner Fehler aufgetreten.</li>
                <li>Der Versand von Status-E-Mail ist bereits aktiv.</li>
            </ul>
        </div>

        <p>
            Um zu prüfen, ob der Versand bereits aktiv ist, gehe bitte auf
            <a href="javascript:" ng-click="goToUpdate()">„Knotendaten ändern“</a>, gib dort Dein Token ein
            und scrolle dann ganz nach unten. Mit einem Klick auf „Daten ändern“ kannst Du dir bei Bedarf
            einen neuen Link zuschicken lassen.
        </p>

        <p>
            Solltest du Deine E-Mail-Adresse zwischenzeitlich geändert haben, prüfe bitte ob Du
            über die neue E-Mail-Adresse bereits eine E-Mail mit Bestätigungs-Link erhalten hast.
        </p>

        <p>
            <strong>
                Sollte das Problem so nicht zu beheben sein, wende Dich gerne an
                <a href="mailto:{{ config.community.contactEmail }}">{{ config.community.contactEmail }}</a>.
            </strong>
        </p>

        <div class="actions">
            <button class="back-button" ng-click="goHome()"><i class="fa fa-reply"></i> Zurück zum Anfang</button>
        </div>
    </div>
</div>
