<div class="welcome">
    <h1>Willkommen!</h1>
    <p>
        Du hast einen neuen Freifunk Hamburg Router (Knoten), den Du in Betrieb nehmen möchtest? Du hast schon einen Knoten in
        Betrieb und möchtest seine Daten ändern? Dann bist Du hier richtig!
    </p>
    <div class="select-action">
        <div class="new-node">
            <button ng-click="newNode()"><i class="fa fa-dot-circle-o"></i> Melde einen neuen Knoten an</button>
        </div>
        <div class="or">oder</div>
        <div class="update-node">
            <button ng-click="updateNode()"><i class="fa fa-pencil"></i> Ändere die Daten Deines Knotens</button>
        </div>
    </div>
</div>
