<div class="welcome">
    <h1>Willkommen!</h1>
    <p>
        Du hast einen neuen {{ config.community.name }} Router (Knoten), den Du in Betrieb nehmen möchtest? Du hast
        schon einen Knoten in Betrieb und möchtest seine Daten ändern? Oder Du möchtest einen Knoten, der nicht mehr
        in Betrieb ist löschen? Dann bist Du hier richtig!
    </p>
    <div class="select-action">
        <div class="new-node">
            <button ng-click="newNode()">
                <i class="fa fa-dot-circle-o"></i> Neuen Knoten anmelden
            </button>
        </div>
        <div class="update-node">
            <button ng-click="updateNode()">
                <i class="fa fa-pencil"></i> Knotendaten ändern
            </button>
        </div>
        <div class="delete-node">
            <button ng-click="deleteNode()">
                <i class="fa fa-trash"></i> Knoten löschen
            </button>
        </div>
    </div>
</div>
