<div class="new-node-form" ng-if="!saved">
    <h2>Neuen Knoten anmelden</h2>

    <p>
        Damit Dein neuer Freifunk-Router erfolgreich ins Netz eingebunden werden kann, benötigen wir noch ein paar
        angaben von Dir. Sobald Du fertig bist, kannst Du durch einen Klick auf "Knoten anmelden" die Anmeldung
        abschließen.
    </p>
    <p>
        Und keine Sorge: <strong>Datenschutz ist uns genauso wichtig wie Dir.</strong>
    </p>

    <f-node-form class="new-node" f-save="save" f-cancel="cancel" f-node="node" f-action="create"></f-node-form>
</div>

<div class="node-created" ng-if="saved">
    <h1>Geschafft!</h1>
    <p>
        Dein Freifunk-Knoten ist erfolgreich angemeldet worden. Es kann jetzt noch bis zu 20 Minuten dauern, bis
        Dein Knoten funktioniert und in der <a href="{{ config.map.mapUrl }}" target="_blank">Knotenkarte</a> auftaucht.
    </p>

    <f-node-saved f-node="node" f-token="token"></f-node-saved>
</div>
